.container {
    display: inline;
    height: 500px;
    width: 500px;
    background-color: red;
}

.textContainer {
    display: inline-block;
    background-color: aqua;
    width: 250px;
    height: 250px;
    float: left;
}

.textContainer h2{
    width: 100px;
    height: 100px;
    background-color: blue;
}

.textContainer p{
    width: 100px;
    height: 100px;
    background-color: brown;
}

.container img{
    width: 100px;
    height: 100px;
    background-color: yellow;
    float: left;
}

