
/*START CATALOGO*/
#container {
    height: 400px;
    width: 400px;
    background-color: darkolivegreen;
    border: 2px black;
    border-radius: 10%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-bottom: 8px;
}

.textContainer {
    display: inline-block;
    background-color: aqua;
    width: 250px;
    height: 250px;
    float: left;
}

.textContainer h2{
    width: 100px;
    height: 100px;
    background-color: blue;
}

.textContainer p{
    width: 100px;
    height: 100px;
    background-color: brown;
}

.immagineCatalogo {
    width: 120px;
    height: 120px;
    background-color: yellow;
    float: left;
}

/*END CATALOGO*/
