.productCatalogImg{
    width: 200px;
    height: 200px;
    
}
.thumbnail{
    border: hidden;
    padding-top: 5px;
    padding-left: 5px;
    background-color: #b3cde0;
}

.thumbnailContent{
    border: medium;
    border-color: black;
}

.row{
    border:1px solid #005b96;
    margin-bottom: 20px;
    border-radius:4px;
    margin-right: 40px;
    margin-left: 40px;
    background-color: #b3cde0;
}

.col-md-2{
    padding-bottom: 5px;
    padding-left: 0px;
}

.catalogProductDescription{
    height: 100px;
    overflow: hidden;
    text-overflow:ellipsis;
}

.navbar-right{
    margin-right: 15px;
}

.navbar-text{
    color: #b3cde0 !important;
}

.navbar-inverse {
    background-color: #03396c;
    color: #011f4b;
}

.navbar-inverse .navbar-nav > li > a{
    color: #b3cde0;
}

body{
    background-color: #6497b1;
}

.caption>h3, .caption>ins, .catalogProductDescription{
    color:#03396c;
}
