body{
    background-color: #03396c;
}

#title{
    color: #b3cde0;
    margin-left: auto;
    margin-right: auto;
}

.form-control{
    width: auto;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.pageContent{
    height: 100%;
    width: 100%;
    text-align: center;
}

text{
    color: #b3cde0;
}