body{
    background-color: #03396c;
}

/*.form-control{
    width: auto;
/!*    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;*!/

}*/

p {
    color: white;
    font-family: cursive;
}